@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20vh;
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: rgba(102,79,100, 0.4);
    padding: 20px 20px;
    font-family: 'Pacifico', sans-serif;
}
.input {
    margin: 15vh 0;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 85%;
    margin-bottom: 48px;
    font-weight: bold;
    font-size: 24px;
    padding: 18px 36px;
}
.container {
    display: flex;
    height: 100vh;
}

.img-bg {
    width: 70%;
    background: no-repeat center url('img/img.jpg');
    background-size: cover;
}

label {
    font-size: 12px;
    font-weight: 900;
    color: #565656;
}

.form-container {
    box-shadow: 0px 3px 6px #B9B9B9;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 18px 36px;
}

.form {
    display: flex;
    flex-direction: row;
    gap: 64px;
}
.form-column {
    width: 49%;

}
.form-col {
    display: flex;
    flex-direction: column;

}
.form-element .form-element-error {
    margin: 12px 0px;
}

input {
    padding: 5px 10px;
    border: 1px #E5E7EB solid;
    border-radius: 3px;
}
input:hover {
    border: 1px solid blue;
}
input:focus-visible {
    border: 1px solid blue;
    outline: none;
    box-shadow: 0px 3px 6px #B9B9B9;
}
.error {
    border: 1px red solid;
}

.low-part {
    padding: 24px 36px;
}
button {
    padding: 12px 34px;
    background-color: #664f64;
    border: 1px #664f64;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 900;
}
p.log-in{
    margin-top: 30px;
}
.link {
    color: #664f64;
    font-weight: bolder;
}

img {
    width: 60px;
}